<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <p><%= t('tags') %>:
          <%= link_to t('all'), root_path %>
          <% tag_cloud Comment.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </p>
      </div>
      <div class="thumbnail">
        <p><%= t('authors') %>:
          <%= link_to t('all'), root_path %>
          <% tag_cloud Comment.author_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @comments.each do |comment| %>
        <div class="thumbnail">
          <blockquote>
            <p><%= comment.content %></p>
            <p><%= t('tags') %>: <%= comment.tag_list %></p>
            <footer><%= t('submitted') %><%= time_ago_in_words(comment.created_at) %><%= t('by') %>: <%= comment.author_list %></footer>
          </blockquote>
        </div>
      <% end %>
      <%= link_to t('new_comment'), new_comment_path, class: "btn btn-default" %>
      <%= paginate @comments %>
    </div>
  </div>
</div>
